/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & Font Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 1.5rem;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 1.5rem;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Hero Section */
.hero-section {
    min-height: 70vh;
    background: url('https://plus.unsplash.com/premium_photo-1683133553448-4484a17fa6d4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 4rem;
    text-align: center;
    color: #fff;
}

.hero-overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-overlay p {
    font-size: 1.2rem;
}

/* Cards Section */
.cards-section {
    padding: 2rem 0;
    background-color: #f4f4f4;
}

.cards-section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

/* Card Styles */
.card {
    background: #fff;
    padding: 1.5rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card p {
    font-size: 1rem;
    color: #666;
}


/* Responsive Design */
@media screen and (max-width: 992px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-overlay h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .hero-overlay h1 {
        font-size: 1.5rem;
    }
}
